/*_tipografia.scss*/
body {
    font-family: $text-font-family;
    color: $text-color;
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $text-font-weight;
}