/*_variables.scss*/
$bordex-box: border-box;


$margin-0: 0; 
$padding-0: 0;

$text-color: #ddd;
$text-font-size: 16px;
$text-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-font-weight: 300;
$text-line-height: 23px;

$color-verde1: #6ea942;
$color-verde2: #568534;
$color-verde3: #7ab94c;


$color-white: white;

$color-gris1: #333333;

$none: none;

$underline: underline;

$transaction-all-1: all 0.3s linear;

$radius-5: 5px;

$line-height-1-4: 1.4em;

